@charset "utf-8";

body {
    background-color: #ebebeb;
}

span {
    display: inline-block;
}

.bun1 {
    font-family: NSimSun,serif;
    font-size: clamp(24px,5vw,200px);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-style: italic;
    background: linear-gradient(to bottom, #4f4f4f, #ebebeb);
}

.itiran {
    position: absolute;
    font-size: 2.7vw;
    font-family: NSimSun,serif;
    padding-left: 14px;
    color: #000000;
    margin-top: 10px;
    user-select: none;
    padding-top: 8px;
}

input[type="radio"] {
    display: none;
}

#waku-itiran {
    position: relative;
    background-color: rgb(95, 95, 95);
    padding-bottom: 5vw;
    z-index: 2;
    margin-top: -2vw;
    padding-top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vw;
    display: none;
    flex-wrap: wrap;
}

#waku3, #titleHeading, #waku5, #waku6, #waku7, #waku8, #waku9 {
    position: relative;
    background-color: #dedede;
    border-radius: 10px;
    border: #606060 solid 1.5px;
    width: 80%;
    height: 5vw;
    padding-bottom: 1vw;
    padding-right: 2vw;
    max-width: 500px;
    min-width: 140px;
    margin-left: 50px;
    margin-bottom: 1vw;
    font-size: 2vw;
    padding-top: 1vw;
    cursor: pointer;
}

#sticky {
    position: sticky;
    background-color: rgb(203, 203, 203);
    width: 50%;
    height: 300px;
    padding-top: 120px;
    top: 50px;
    font-size: 30px;
    text-align: center;
}

.waku_all {
    width: 500px;
}

.lavel {
    border-radius: 10px;
    display: inline-block;
    background-color: rgb(167, 167, 167);
    color: rgb(0, 0, 0);
    padding-left: 1.2vw;
    padding-top: 0.7vw;
    margin-right: 20px;
    font-size: clamp(0px,2.7vw,200px);
    width: 8vw;
    height: 7vw;
    margin-left: 27vw;
    user-select: none;
    cursor: pointer;
}

.flex input:checked + label {
    background: #606060;
    color: #000000;
}

#option1:checked ~ #waku-itiran {
    display: flex;
}

#option2:checked ~ #waku-sakusei {
    display: block;
}

#waku-sakusei {
    position: relative;
    background-color: rgb(95, 95, 95);
    padding-bottom: 5vw;
    z-index: 2;
    margin-top: -2vw;
    padding-top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: none;
    font-family: NSimSun,serif;
    text-align: center;
}

#waku3:hover,
#titleHeading:hover,
#waku5:hover,
#waku6:hover,
#waku7:hover,
#waku8:hover,
#waku9:hover {
    background-color: #ffffff;
}

.namae {
    color: #000000;
    text-decoration: none;
}

.poster {
    position: relative;
    border: 1px solid #000;
    font-family: NSimSun,serif;
    width: 600px;
    height: 2000px;
    margin: 20px auto;
    background-color: #e0e0e0;
}

.odai {
    font-size: 40px;
    letter-spacing: 5px;
}

.naiyo {
    font-family: NSimSun,serif;
    text-align: center;
    width: 100%;
    font-size: 30px;
}
/******ここから実際に出来たもの*******/
.title {
    margin-top: 30px;
    font-size: 50px;
    letter-spacing: 7px;
}

.content {
    font-size: 20px;
}
/************ｍｃｃベース**********/
.page {
    position: sticky;
    border-radius: 10px;
    border: #ffffff solid 1px;
    font-size: 100%;
    width: 45px;
    background-color: #ffffff;
    bottom: 30px;
    text-align: left;
    user-select: none;
    z-index: 3;
}

.catchcopy1 {
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 11%;
    margin-right: 10%;
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: NSimSun,serif;
    font-style: italic;
    letter-spacing: 0.4em;
    font-weight: bold;
    margin-bottom: 50px;
}

.waku {
    border-radius: 10px;
    border: #000000 solid 2px;
    padding-bottom: 10px;
    padding-left: 10px;
    max-width: 500px;
    min-width: 250px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.nakami {
    color: #000000;
    font-size: 20px;
}

.waku input[type="checkbox"] {
    display: none;
}

#tocopen:checked + .mo {
    display: none;
}

#tocopen:checked + .waku2 {
    transform: rotate(-30deg);
}

.waku2 {
    border-radius: 10px;
    border: #e0e0e0 solid 1px;
    width: 28px;
    background-color: #ffffff;
    margin-left: 60px;
    margin-top: -48px;
    font-family: NSimSun,serif;
    user-select: none;
    cursor: pointer;
}

    .waku2:hover {
        background-color: #9e9e9e;
    }

.mokuzi {
    color: #000000;
    font-size: 20px;
    margin-top: 5px;
}

.mo {
    font-size: 20px;
    letter-spacing: 0.2em;
    margin-left: 30px;
    line-height: 2em;
    color: #000000;
}

.kugiri {
    border: solid 2px rgb(106, 106, 106);
    padding: 1em;
    background-color: rgb(106, 106, 106);
    margin-left: 10%;
    margin-right: 10%;
    height: 11vw;
}

.midasi1, #midasi2, .midasi3, .midasi4 {
    font-size: 30px;
    margin-bottom: 0px;
    letter-spacing: 0.3px;
}

.towa {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    font-size: clamp(16px,3vw,20px);
}

.rinku {
    margin-left: 60%;
}

.towa2 {
    background-color: rgb(198, 198, 198);
    padding-bottom: 20px;
}

a[href^="#"] {
    color: #000000;
    text-decoration: none;
}

    a[href^="#"]:hover {
        color: #9e9e9e;
    }

a[href^="ht"]:hover {
    color: #ff0000;
}

.tuno, .syoukai, .kokuti {
    position: relative;
    background-color: rgb(198, 198, 198);
    padding-bottom: 20px;
}

.tuno {
    margin-bottom: 20px;
}

.maru {
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: #4f4f4f;
    border-radius: 50%;
    margin-left: 50px;
}
/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        cursor: pointer;
    }
